@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090b; /* Zinc 950 */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Elegant Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #27272a; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; 
}